---
import { Icon } from 'astro-icon';
export interface Props {
	title1: string;
	title2: string;
	description: string;
	icon: string;
}

const { title1, title2, description, icon } = Astro.props;

const baseURL = import.meta.env.BASE_URL;
const linkCourse = `${baseURL}/cours/${icon}`;
// fill-black p-4  hover:fill-white
---

<a
	class="flex flex-1 flex-col gap-6 border border-white bg-white p-4 text-black hover:bg-black hover:text-white lg:gap-8 lg:p-8"
	href={linkCourse}
>
	<div class="h-44 lg:h-52">
		<Icon name={icon} class="h-full w-full" />
	</div>
	<div>
		<h2 class="text-center text-2xl lg:text-4xl">
			{title1}
			<span class="hidden lg:block">{title2}</span>
		</h2>
		<p class="hidden text-lg lg:mt-4 lg:block">{description}</p>
	</div>
</a>
