---
import { Image } from 'astro:assets';

import CTALink from '@components/links/CTALink.astro';
import heroImg from '@assets/hero.jpg';

const baseURL = import.meta.env.BASE_URL;
const subscribeLink = `${baseURL}/ecole#informations-pratiques`;
const coursesLink = `${baseURL}/cours`;
---

<section class="relative overflow-hidden text-xl lg:max-h-[640px]">
	<div
		class="grid place-items-center py-16 lg:place-items-start lg:bg-gradient-to-r lg:from-black lg:from-35% lg:p-16"
	>
		<div class="flex w-full max-w-lg flex-col gap-8 text-center lg:w-1/2 lg:text-start">
			<h1>École <span class="lg:block">Dragon Tigre</span></h1>
			<p>
				École de Kung-Fu Wushu traditionnel depuis plus de 20 ans à La Rochelle. Venez découvrir nos
				différents cours, le <em>cours d'essai est gratuit</em> et l'<em
					>inscription est possible toute l'année</em
				>.
			</p>
			<div class="flex justify-center gap-8 lg:justify-start">
				<CTALink label="S'inscrire" href={subscribeLink} />
				<CTALink outline={true} label="Voir nos cours" href={coursesLink} />
			</div>
		</div>
	</div>

	<Image
		src={heroImg}
		alt="Cours de Tai-Chi dans l'école Dragon Tigre"
		class="hidden lg:absolute lg:inset-0 lg:-z-10 lg:block lg:object-cover"
		loading="eager"
	/>
</section>
<style is:global>
	em {
		font-weight: bold;
		font-style: normal;
	}
</style>
