---
import NavMenu from '@components/NavMenu.astro';
import NavMenuMobile from '@components/NavMenuMobile.astro';

const baseURL = import.meta.env.BASE_URL;

const menu: { label: string; href: string }[] = [
	{ label: 'Accueil', href: `${baseURL}` },
	{ label: 'École', href: `${baseURL}/ecole` },
	{ label: 'Cours', href: `${baseURL}/cours` },
];
const CTA = { label: 'Nous contacter', href: `${baseURL}/ecole#informations-pratiques` };
---

<nav class="">
	<div class="hidden sm:block">
		<NavMenu {menu} {CTA} />
	</div>
	<div class="sm:hidden">
		<NavMenuMobile {menu} {CTA} />
	</div>
</nav>
