---
import NavLink from '@components/links/NavLink.astro';
import CTALink from '@components/links/CTALink.astro';

const baseURL = import.meta.env.BASE_URL;

const menu: { label: string; href: string }[] = [
	{ label: 'Accueil', href: `${baseURL}` },
	{ label: 'École', href: `${baseURL}/ecole` },
	{ label: 'Cours', href: `${baseURL}/cours` },
];
const CTA = { label: 'Nous contacter', href: `${baseURL}/contact` };
---

<nav>
	<ul class="flex justify-end gap-8">
		{
			menu.map(({ label, href }) => (
				<li>
					<NavLink {label} {href} />
				</li>
			))
		}
		<li><CTALink label={CTA.label} href={CTA.href} rounded /></li>
	</ul>
</nav>
