---
import { getCollection } from 'astro:content';

import NewsCard from '@components/NewsCard.astro';

interface Props {
	nb?: number;
	cols?: number;
	rounded?: boolean;
}
const { nb = 2, cols = 2, rounded } = Astro.props;

const news = (await getCollection('blog'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, nb);

const twcss = `md:grid-cols-2 lg:grid-cols-${cols}`;
---

<div class=`my-8 grid grid-cols-1 gap-12 ${twcss} lg:my-16 lg:gap-8`>
	{news.map(({ data, slug }) => <NewsCard {data} {slug} {rounded} {cols} />)}
</div>
