---
import { getCollection } from 'astro:content';

import NewsCard from '@components/NewsCard.astro';

interface Props {
	nb?: number;
	cols?: number;
	rounded?: boolean;
}
const { nb = 2, cols = 2, rounded } = Astro.props;

const news = (await getCollection('news'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, nb);

const twcss = `md:grid-cols-${cols}`;
---

<div class=`my-8 grid grid-cols-1 gap-8 ${twcss} lg:my-16`>
	{news.map(({ data, slug }) => <NewsCard {data} {slug} {rounded} />)}
</div>
