---
import { Image } from 'astro:assets';

const { data, slug, rounded = false } = Astro.props;

const baseURL = import.meta.env.BASE_URL;
const linkNews = `${baseURL}/actualites/${slug}`;
---

<a href={linkNews} title=`Ouvrir l'actualité "${data.title}"` class="hover:opacity-70">
	<article class="flex h-full flex-col gap-4">
		<Image
			src={data.cover}
			alt={data.title}
			class:list={['h-96 object-cover object-top', { rounded: rounded }]}
		/>
		<div>
			<h2 class="font-bold">{data.title}</h2>
			<p>{data.headline}</p>
		</div>
	</article>
</a>
