---
import { Image } from 'astro:assets';
const { data, slug } = Astro.props;

const baseURL = import.meta.env.BASE_URL;
const linkNews = `${baseURL}/ecole/actualites/${slug}`;
---

<a href={linkNews}>
	<article class="flex h-full flex-col gap-4">
		<Image src={data.cover} alt={data.title} class="h-96 object-cover object-top" />
		<div>
			<h4 class="font-bold">{data.title}</h4>
			<p>{data.headline}</p>
		</div>
	</article>
</a>
