---
import hoursToTailwindColumns from '@utils/convertHours';

const { course } = Astro.props;
const [start, end] = hoursToTailwindColumns(course.hours);
---

<div class={`col-start-${start} col-end-${end} p-4 border text-center`}>
	<h3 class="text-xl font-bold uppercase">{course.title}</h3>
	<p>{course.level}</p>
	<p>{course.hours}</p>
</div>
