---
import type { ImageMetadata } from 'astro';

export interface Props {
	page?: string | undefined;
	description?: string | undefined;
	image?: ImageMetadata | undefined;
	publishedDate?: Date | undefined;
}

const baseURL = import.meta.env.BASE_URL;

const defaultImage: ImageMetadata = {
	src: `${baseURL}/og.png`,
	width: 1200,
	height: 628,
	format: 'png',
};

const {
	page = 'Accueil',
	description = 'Institut de Kung Fu Traditionnel à La Rochelle : style Shi Dong Wu de Shaolin Sud, Taiji, Qi Gong, self defense, méditation et renforcement physique.',
	image = defaultImage,
	publishedDate = new Date(),
} = Astro.props;

const favicon = `${baseURL}/favicon.svg`;

const title = `${page} - Dragon Tigre`;
const canonicalWebsiteURL = new URL(Astro.url.pathname, Astro.site);
const publishedDateString = publishedDate.toISOString().slice(0, 10);
const socialImageURL = new URL(image.src, Astro.url);
---

<meta charset="utf-8" />

<link rel="icon" type="image/svg+xml" href={favicon} />
<link rel="manifest" href="/site.webmanifest" />

<meta name="msapplication-TileColor" content="#f5ffe1" />
<meta name="theme-color" content="#f5ffe1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<title>{title}</title>

<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content="Jérôme Abel" />
<link rel="canonical" href={canonicalWebsiteURL} />

<meta http-equiv="Cache-control" content="public" />
<meta http-equiv="Expires" content="259200" />
<meta name="revisit-after" content="5 days" />
<meta name="robots" content="index, follow" />
<meta
	name="keywords"
	content="École Kung Fu, Kung Fu, Dragon Tigre, Institut, Kung Fu Traditionnel, La Rochelle, Shi Dong Wu, boxe des 10 animaux, Shaolin Sud"
/>
<meta property="”article:published_time”" content={publishedDateString} />

<meta property="og:site_name" content="École Dragon Tigre" />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalWebsiteURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />
<meta property="og:image:alt" content={title} />
<meta property="og:image:width" content={image.width.toString()} />
<meta property="og:image:height" content={image.height.toString()} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalWebsiteURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />
<meta property="twitter:image:alt" content={title} />
