---
import { getCollection } from 'astro:content';

import CTALink from '@components/links/CTALink.astro';
import TeacherAvatar from '@components/TeacherAvatar.astro';
import Section from '@components/Section.astro';
import { Image } from 'astro:assets';

const teachers = await getCollection('teacher');

const baseURL = import.meta.env.BASE_URL;
const linkTeachers = `${baseURL}/teachers`;
---

<Section>
	<h2 class="text-2xl uppercase md:text-4xl">Learn with experts</h2>
	<p>The school motto: "<em>Self-mastery, respect for others, perfection of movement</em>"</p>

	<div class="mt-8 flex flex-col justify-evenly gap-16 md:flex-row md:gap-8">
		{
			teachers.map(({ data, slug }) => (
				<a
					href={`${linkTeachers}/${slug}`}
					class="group relative flex flex-1 flex-col items-center gap-4 overflow-hidden  "
				>
					<Image
						src={data.cover}
						alt={`Portrait de ${data.first} ${data.last}`}
						class="aspect-video bg-white object-cover transition-all duration-300 group-hover:scale-105"
					/>
					<p class=" absolute bottom-2 left-2  bg-black bg-opacity-80 px-4 py-2 text-lg  text-white ">
						{data.first} {data.last}
					</p>
				</a>
			))
		}
	</div>
	<!-- 			

	<div class="my-8 grid max-w-full grid-cols-1 gap-8 xl:grid-cols-3">
		<div
			class="flex flex-col items-stretch justify-center gap-1 md:flex-row md:gap-8 lg:items-center xl:col-span-2"
		>
			{
				teachers.map(({ data, slug }) => (
					<TeacherAvatar image={data.avatar} name={`${data.first} ${data.last}`} {slug} />
				))
			}
		</div>
		<div class="text-lg">
			<p>
				Les cours sont assurés par les maîtres Hrod Romero (Shifu) et Shasha Romero (Simu), assistés
				par l’institutrice Shaman Romero (Laoshi).
			</p>
			<p class="my-4">
				Les trois enseignants sont de multiples champions internationaux. Ils perpétuent un savoir
				millénaire et sont reconnus officiellement quatrième et cinquième génération du Bu Di Zhen
				Kung Fu et Taïji.
			</p>
			<p>L’enseignement s’adapte à chacun et est accessible à tous les âges de 7 à 117 ans !</p>
		</div> -->
</Section>
