---
import { getCollection } from 'astro:content';

import CTALink from '@components/links/CTALink.astro';
import TeacherAvatar from '@components/TeacherAvatar.astro';
import Section from '@components/Section.astro';

const teachers = await getCollection('teacher');

const baseURL = import.meta.env.BASE_URL;
const linkTeachers = `${baseURL}/enseignants`;
---

<Section>
	<h2 class="text-2xl uppercase md:text-4xl">Un enseignement de qualité</h2>
	<p>La devise de l'école: "<em>Combats avec courage et conviction.</em>"</p>

	<div class="my-8 grid max-w-full grid-cols-1 gap-8 xl:grid-cols-3">
		<div
			class="flex flex-col items-stretch justify-center gap-1 md:flex-row md:gap-8 lg:items-center xl:col-span-2"
		>
			{
				teachers.map(({ data, slug }) => (
					<TeacherAvatar image={data.avatar} name={`${data.first} ${data.last}`} {slug} />
				))
			}
		</div>
		<div class="text-lg">
			<p>
				Les cours sont assurés par les maîtres Hrod Romero (Shifu) et Shasha Romero (Simu), assistés
				par l’institutrice Shaman Romero (Laoshi).
			</p>
			<p class="my-4">
				Les trois enseignants sont de multiples champions internationaux. Ils perpétuent un savoir
				millénaire et sont reconnus officiellement quatrième et cinquième génération du Bu Di Zhen
				Kung Fu et Taïji.
			</p>
			<p>L’enseignement s’adapte à chacun et est accessible à tous les âges de 7 à 117 ans !</p>
		</div>
	</div>

	<CTALink href={linkTeachers} label="En savoir plus" icon="carbon:arrow-right" outline />
</Section>
