---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { Icon } from 'astro-icon';

import Layout from '@layouts/Layout.astro';
import H1 from '@components/H1.astro';
import H2 from '@components/H2.astro';
import Prose from '@components/Prose.astro';
import Section from '@components/Section.astro';
import Container from '@components/Container.astro';
import SchoolInfos from '@components/SchoolInfos.astro';
import SocialLinks from '@components/links/SocialLinks.astro';
import CTALink from '@components/links/CTALink.astro';

import PaternshipImg from '@assets/partenariats/Li-Jianping.jpg';
import NewsGridSummary from '@components/NewsGridSummary.astro';

const entry = await getEntry('school', 'dragontigre');

const { data: school } = entry;

const baseURL = import.meta.env.BASE_URL;
const linkPaternships = `${baseURL}/ecole/partenariats`;
---

<Layout title="École">
	<Container>
		<Section>
			<H1>L'École</H1>
			<p class="max-w-2xl pb-16 pt-8 text-xl">{school.intro}</p>
			<Image
				src={school.cover}
				class="h-[750px] object-cover"
				alt="Entrée de l'école boulevard Guiton à La Rochelle"
			/>
		</Section>
		<Section id="informations-pratiques">
			<H2>Informations pratiques</H2>
			<div class="flex flex-col gap-8 lg:flex-row">
				<a href={school.address.openstreetmap} title="Ouvrir le plan" class="relative lg:w-2/3">
					<Image
						src={school.address.imageMap}
						alt="Adresse de l'école"
						class="h-full object-cover"
					/>
					<div
						class="group absolute inset-0 z-10 flex items-center justify-center bg-black bg-opacity-0 text-white transition-all hover:bg-opacity-40"
					>
						<Icon name="mdi:magnify-plus" class="h-24 opacity-0 group-hover:opacity-100" />
					</div>
				</a>
				<div class="flex flex-1 flex-row gap-16 lg:flex-col">
					<SchoolInfos />
					<SocialLinks />
				</div>
			</div>
		</Section>

		<NewsGridSummary nb={6} cols={3} />

		<Section id="histoire">
			<H2>Histoire de l'école</H2>

			<div class="grid grid-cols-3 gap-16">
				<Prose>
					<p>
						Il faut savoir qu'à cette époque, étant le premier, Maître Hoang n'a pas adapté
						l'enseignement aux occidentaux puisque Hrod était un des seuls non-Asiatique de l'école
						et qu'il y était inscrit en traditionnel. Il a donc ainsi subi toutes les blessures
						inhérentes à cette tradition ancestrale. Des simples bleus aux plus extrêmes douleurs,
						il subissait sans un mot tout ce que son maître lui imposait: de l'endurcissement, que
						ce soit les bras ou les tibias qu'il devait frapper sur des poteaux de bois, ou des
						assouplissements, comme le déchirement de ses deux adducteurs, l'abdication pour son art
						martial était total.
					</p>
					<p>
						Pendant ces 12 années d'entraînement intensif, à raison de 6 heures par jours plus les
						week-ends, Hrod participait aux compétitions et combats. C'est à l'âge de 25 ans qu'il a
						reçu l'aval de son Maître pour partir enseigner à son tour le kung fu traditionnel des
						dix animaux de Shaolin sud.
					</p>
				</Prose>
				<Prose>
					<p>
						Shifu Hrod donna ses premiers cours seul en 1995. Cette même année, Sabine à l'âge de 27
						ans, poussa la porte de la salle et à son tour, tomba en amour pour le kung fu et son
						Shifu. Une véritable symbiose s'est opérée entre eux, avec pour seul mode de vie «le
						kung fu au centre de tout». En 21 ans Sabine est passée d'élève à Simu (maître au
						féminin en Chinois). Ensemble ils ont décidé d'ouvrir leur école et de l'appeler « <strong
							>Dragon Tigre</strong
						>».
					</p>
					<p>
						Pour le choix du nom de leur école, il était essentiel qu'ils fassent référence à leur
						identité martiale. Dans le style des dix animaux, chaque pratiquant est relié à un
						animal en particulier. Ce n'est pas un choix du pratiquant mais véritablement une
						révélation, par la pratique, de son animal «totem». Le Maître sait reconnaître l'animal
						qui correspond à son élève, comme le Dragon pour Shifu Hrod ou le Tigre pour Simu
						Sabine.
					</p>
				</Prose>
			</div>
		</Section>

		<Section>
			<H2>Partenariats</H2>

			<div class="grid w-2/3 grid-cols-2 gap-16">
				<Prose>
					<p>
						Nous avons tissé de vrais liens d’amitié martiale avec ce magnifique pays, grâce à la
						rencontre de Maître Li Jianping, Evgenii Lopatkin et Natalia Neshcheret, lors de notre
						rencontre au championnat du monde en 2014. Depuis, chaque retrouvaille est une immense
						joie et un grand honneur de s’affronter sur les tapis car leur niveau de Wushu n’a
						d’égal que leur grand cœur.
					</p>
				</Prose>

				<Image src={PaternshipImg} alt="Portrait de Li-Jianping" />
			</div>

			<CTALink href={linkPaternships} label="En savoir plus" icon="carbon:arrow-right" outline />
		</Section>
	</Container>
</Layout>
