---
import Icon from 'astro-icon';

export interface Props {
	label: string;
	href: string;
	outline?: boolean;
	rounded?: boolean;
	icon?: string;
}

const { label, href, outline = false, rounded = false, icon } = Astro.props;

const cssOutline = outline
	? 'bg-black text-white hover:bg-white hover:text-black'
	: 'bg-white text-black hover:bg-black hover:text-white';
---

<a
	class:list={[
		{ 'rounded-full': rounded },
		{ 'flex items-center gap-2': icon },
		`max-w-max border border-white px-6 py-2 text-lg transition-all ${cssOutline}`,
	]}
	href={href}
	aria-label={`${label} page`}
	title={`${label} page`}
>
	{label}
	{icon ? <Icon size={24} name={icon} class="" /> : null}
</a>
