---
import IconLink from '@components/links/IconLink.astro';

interface Props {
	url?: string;
	title: string;
	description: string;
}

const { url = Astro.request.url, title, description } = Astro.props;

const shareData = [
	{
		href: `https://www.facebook.com/sharer/sharer.php?u=${url}`,
		label: 'Facebook',
		icon: 'fa:facebook-f',
	},
	{
		href: `https://twitter.com/intent/tweet?url=${url}`,
		label: 'Twitter',
		icon: 'Fa6BrandsXTwitter',
	},
	{
		href: `https://www.linkedin.com/sharing/share-offsite/?url=${url}`,
		label: 'LinkedIn',
		icon: 'bx:bxl-linkedin',
	},
	{
		href: `mailto:?subject=École%20Dragon%20Tigre%20-%20${title}&body=${description}%0A${url}`,
		label: 'Email',
		icon: 'mdi:email',
	},
];
---

<div>
	<span class="mb-2 block font-bold uppercase">Partager</span>
	<div class="flex items-start gap-2">
		{shareData.map(({ label, href, icon }) => <IconLink {label} {href} {icon} />)}
	</div>
</div>
