---

import { Icon } from 'astro-icon/components';

interface Props {
	label: string;
	href: string;
	outline?: boolean;
	rounded?: boolean;
	icon?: string;
}

const { label, href, outline = false, rounded = false, icon } = Astro.props;

const cssOutline = outline
	? 'bg-black bg-opacity-50 text-white hover:bg-white hover:text-black'
	: 'bg-white text-black hover:bg-black hover:text-white';
---

<a
	class:list={[
		{ 'rounded-full': rounded },
		{ 'flex items-center gap-2': icon },
		`w-fit whitespace-nowrap border border-white px-2 py-1 text-base transition-all md:px-4 md:py-2 ${cssOutline}`,
	]}
	href={href}
	aria-label={label}
	title={label}
>
	{label}
	{icon ? <Icon size={24} name={icon} class="" /> : null}
</a>
