---
import { Icon } from 'astro-icon/components';

interface Props {
	label: string;
	href: string;
	outline?: boolean;
	rounded?: boolean;
	icon?: string;
	size?: string;
	iconSize?: number;
}

const {
	label,
	href,
	outline = false,
	rounded = false,
	icon,
	size = 'px-2 py-1 text-base md:px-4 md:py-2',
	iconSize = 24,
} = Astro.props;

const cssOutline = outline
	? 'bg-black bg-opacity-50 text-white hover:bg-white hover:text-black'
	: 'bg-white text-black hover:bg-black hover:text-white';
---

<a
	class:list={[
		{ 'rounded-full': rounded },
		{ 'flex items-center gap-2': icon },
		`w-fit whitespace-nowrap border border-white transition-all ${size} ${cssOutline}`,
	]}
	href={href}
	aria-label={label}
	title={label}
>
	{label}
	{icon ? <Icon size={iconSize} name={icon} /> : null}
</a>
