---
import hoursToTailwindColumns from '@utils/convertHours';

const { course } = Astro.props;
const [start, end] = hoursToTailwindColumns(course.hours);
---

<div
	class={`col-start-${start} col-end-${end} py-2 px-0 lg:px-2 lg:py-4 border text-sm text-center`}
>
	<h3 class="xs:text-2xs text-xs font-bold uppercase md:text-sm xl:text-lg">{course.title}</h3>
	<p>{course.level}</p>
	<p>{course.hours}</p>
</div>
