---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import '@styles/global.css';
import '@fontsource/inter/400.css'; // 400
import '@fontsource/inter/600.css';

const baseURL = import.meta.env.BASE_URL;
const fontwoff = `${baseURL}/fonts/shanghai.woff`;
const fontwoff2 = `${baseURL}/fonts/shanghai.woff2`;
const sitemap = `${baseURL}/sitemap-index.xml`;
const favicon = `${baseURL}/favicon.svg`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<link rel="preload" href={fontwoff2} as="font" type="font/woff2" crossorigin />
		<link rel="sitemap" href={sitemap} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Accueil</title>
	</head>
	<body class="grid min-h-screen grid-rows-[auto_1fr_auto] bg-black text-white">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global define:vars={{ fontwoff, fontwoff2 }}>
	@font-face {
		font-family: 'Shanghai';
		src:
			url(var(--fontwoff2)) format('woff2'),
			url(var(--fontwoff)) format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
