---
import { getEntry } from 'astro:content';
const { data } = await getEntry('school', 'kungfuschool');
---

<div class="order-3 flex flex-col gap-4 lg:order-2">
	<div>
		<span class="font-bold uppercase">Address</span>
		<address class="not-italic">
			{data.name}<br />
			{data.address.street}<br />
			{data.address.city}
		</address>
	</div>

	<div>
		<span class="font-bold uppercase">Schedules</span>
		<p>{data.schedules}</p>
	</div>

	<div>
		<span class="font-bold uppercase">Phone number</span>
		<p>{data.telephone}</p>
	</div>

	<div>
		<span class="font-bold uppercase">Email</span>
		<p><a href=`mailto:${data.email}` title="Envoyer un email">{data.email}</a></p>
	</div>
</div>
