---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { Icon } from 'astro-icon';
import { Markdown } from '@astropub/md';
import splitMarkdown from '@utils/splitmarkdown';

import Layout from '@layouts/Layout.astro';
import H1 from '@components/H1.astro';
import H2 from '@components/H2.astro';
import Prose from '@components/Prose.astro';

import Section from '@components/Section.astro';
import Container from '@components/Container.astro';
import SchoolInfos from '@components/SchoolInfos.astro';
import SocialLinks from '@components/links/SocialLinks.astro';

const entry = await getEntry('school', 'dragontigre');

const { data: school } = entry;
const { introContent, mainContent } = splitMarkdown(entry.body);
---

<Layout>
	<Container>
		<Section>
			<H1>L'École</H1>
			<p class="max-w-2xl pb-16 pt-8 text-xl">{school.intro}</p>
			<Image
				src={school.cover}
				class="h-[750px] object-cover"
				alt="Entrée de l'école boulevard Guiton à La Rochelle"
			/>
		</Section>
		<Section>
			<H2>Informations pratiques</H2>
			<div class="grid grid-cols-2 gap-24">
				<a href={school.address.openstreetmap} title="Ouvrir le plan" class="relative">
					<Image src={school.address.imageMap} alt="Adresse de l'école" />
					<div
						class="group absolute inset-0 z-10 flex items-center justify-center bg-black bg-opacity-0 text-white transition-all hover:bg-opacity-40"
					>
						<Icon name="mdi:magnify-plus" class="h-24 opacity-0 group-hover:opacity-100" />
					</div>
				</a>
				<div class="flex flex-col gap-4">
					<SchoolInfos />
					<SocialLinks />
				</div>
			</div>
		</Section>

		<Section>
			<H2>Histoire de l'école</H2>
			<div class="grid w-2/3 grid-cols-2 gap-16">
				<Prose>
					<Markdown of={introContent} />
				</Prose>
				<Prose>
					<Markdown of={mainContent} />
				</Prose>
			</div>
		</Section>
	</Container>
</Layout>
