---
import { Icon } from 'astro-icon/components';
interface Props {
	title: string;
	description: string;
	icon: string;
	slug: string;
}

const { title, description, icon, slug } = Astro.props;

const baseURL = import.meta.env.BASE_URL;
const linkCourse = `${baseURL}/courses/${slug}`;
---

<a
	class="group flex flex-1 flex-col gap-8 overflow-hidden border border-gray-500 text-white hover:border-white lg:gap-8"
	href={linkCourse}
>
	<div
		class="h-72 p-8 drop-shadow-[0_35px_35px_rgba(255,255,255,0.25)] transition-all group-hover:scale-105"
	>
		<Icon name={icon} class="h-full w-full" />
	</div>
	<div class="flex flex-col gap-4 bg-white px-6 py-8 text-black">
		<h2 class="text-center font-title text-2xl uppercase tracking-wider lg:text-4xl">
			{title}
		</h2>
		<p class="hidden text-lg lg:block">{description}</p>
	</div>
</a>
