---
import type { ImageMetadata } from 'astro';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SEO from '@components/SEO.astro';

import '@styles/global.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/600.css';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	publishedDate?: Date | undefined;
	image?: ImageMetadata | undefined;
}

const { title, description, publishedDate, image } = Astro.props;

const baseURL = import.meta.env.BASE_URL;
const fontwoff = `${baseURL}/fonts/houji.woff`;
const fontwoff2 = `${baseURL}/fonts/houji.woff2`;
const sitemap = `${baseURL}/sitemap-index.xml`;
---

<html lang="en" class="scroll-smooth">
	<head>
		<SEO page={title} {description} {publishedDate} {image} />
		<link rel="preload" href={fontwoff2} as="font" type="font/woff2" crossorigin />
		<link rel="sitemap" href={sitemap} />
	</head>
	<body class="grid min-h-screen grid-rows-[auto_1fr_auto] bg-black text-white">
		<Header />
		<main class="pt-14 transition-all duration-300 md:opacity-100 md:blur-none">
			<slot />
		</main>
		<Footer />
		<style is:global define:vars={{ fontwoff, fontwoff2 }}>
			@font-face {
				font-family: 'Houji';
				src:
				    url('/kungfuschool/fonts/houji.woff2') format('woff2'),
					url('/kungfuschool/fonts/houji.woff2') format('woff');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
		</style>
	</body>
</html>
