---
import NavMenu from '@components/nav/NavMenu.astro';
import NavMenuMobile from '@components/nav/NavMenuMobile.astro';

const baseURL = import.meta.env.BASE_URL;

const menu: { label: string; href: string }[] = [
	{ label: 'Home', href: `${baseURL}` },
	{ label: 'School', href: `${baseURL}/school` },
	{ label: 'Courses', href: `${baseURL}/courses` },
	{ label: 'Blog', href: `${baseURL}/blog` },
];
const CTA = { label: 'CONTACT US', href: `${baseURL}/school#infos` };
---

<nav>
	<div class="hidden sm:block">
		<NavMenu {menu} {CTA} />
	</div>
	<div class="sm:hidden">
		<NavMenuMobile {menu} {CTA} />
	</div>
</nav>
