---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Section from '@components/Section.astro';
import H1 from '@components/H1.astro';
import H2 from '@components/H2.astro';
import Prose from '@components/Prose.astro';

import CoursesGrid from '@components/courses/CoursesGrid.astro';
import PlanningWeek from '@components/planning/PlanningWeek.astro';
import PriceCardSmall from '@components/prices/PriceCardSmall.astro';
import PriceCard from '@components/prices/PriceCard.astro';

import { pricesCardsSingle, pricesCardsYearly } from '@assets/data/prices';
---

<Layout title="Courses">
	<Container>
		<Section>
			<H1>Courses</H1>
			<p class="max-w-2xl pb-8 pt-4 lg:pb-16 lg:text-xl">
				Ut, pariatur? Corrupti alias sequi aspernatur ratione repudiandae similique. Error animi
				totam eos quae mod i, iusto ipsa architecto tempore sequi id magnam fuga expedita fugit et
				quisquam. Suscipit, totam ratione?
			</p>
			<CoursesGrid />
		</Section>

		<Section id="planning">
			<h2 class="font-bold uppercase">Planning</h2>
			<p class="font-bold">From 2023-09-10 to 2024-06-30</p>
			<PlanningWeek />
		</Section>

		<Section id="prices">
			<H2>Pricing <span class="text-2xl font-normal">/ membership</span></H2>
			<div class="grid grid-cols-1 items-end gap-8 py-8 md:grid-cols-3">
				{pricesCardsYearly.map((card, index) => <PriceCard {card} {index} />)}
			</div>
		</Section>

		<Section>
			<H2>Pricing <span class="text-2xl font-normal"> / single course</span></H2>
			<div class="grid grid-cols-1 gap-8 py-8 md:grid-cols-3">
				{
					pricesCardsSingle.map(({ title, price, description }) => (
						<PriceCardSmall {title} {price} {description} />
					))
				}
			</div>
		</Section>
	</Container>
</Layout>
